.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.815rem;

  .title {
    font-family: var(--font-display);
    text-transform: uppercase;
    font-size: 1.563rem;
    margin-bottom: 1.563rem;
    color: var(--color-grey-dark-2);
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}