.sign-in {
  width: 30vw;

  .title {
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-grey-dark-2);
    margin-bottom: 1.6rem;
  }

  .subtitle {
    font-size: 1.28rem;
    color: var(--color-grey-dark-1)
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}