.cart-dropdown {
  position: absolute;
  width: 28rem;
  height: 34rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid var(--color-grey-dark-1);
  background-color: white;
  top: 9rem;
  right: 0;
  z-index: 10;

  .cart-items {
    height: 24rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  button {
    margin-top: auto;
  }
}

