.menu-item {
  min-width: 30%;
  height: 14.552rem;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(220, 3%, 60%);
  margin: 0 7.5px 15px;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  &:hover {
    & .background-image {
      transform: scale(1.2);
    }

    & .content {
      background-color: rgba(#fff, 0.9);
    }
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid hsl(220, 3%, 60%);
    text-transform: uppercase;
    background-color: rgba(#fff, 0.7);
    position: absolute;
    transition: all 0.2s;

    .title {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 600;
      font-size: 1.563rem;
      color: var(--color-grey-dark-2);
    }

    .subtitle {
      font-weight: 400;
      font-size: 0.8rem;
      color:var(--color-grey-dark-1);
    }
  }
}

.large {
  height: 22.737rem;
}
